PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/finvest?retryWrites=true&w=majority
APP_BASE_URL="https://mon-app.netlify.app"
JWT_SECRET="change-me-in-development"
JWT_COOKIE_NAME="token"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=""
SMTP_PASS=""
MAIL_FROM="no-reply@example.com"
